@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: rgb(238, 232, 232);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.textarea {
  width: 80%;
  height: 300px;
  font-size: 1.2rem;
}

.btn {
  order: 0;
  border-radius: 2px;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #f05a5b;
  color: #fff;
  cursor: pointer;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-style: oblique;
  color: black;


}